body{
    margin: 20px;
    padding: 0;
    background-color: white;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div{
    height:200px;
    width: 200px;
    background-color:yellow;
    border-style: outset;
    border-color: white;
    padding: 5px;
}
div.dropdown{
    padding-top: 0% ;
    height:auto;
    width: auto;
    background-color:white;
    border-style: none;
}
div.content{
    display:none;
    padding-top: 0% ;
    height:auto;
    width: auto;
    background-color:white;
    border-style: none;
    position: absolute;
}
div.pink{
    background-color: pink;
    width: 75px;
    height: 20px;
}
div.yellow{
    background-color: yellow;
    width: 75px;
    height: 20px;
}
div.lightblue{
    background-color: lightblue;
    width: 75px;
    height: 20px;
}
div.peri{
    background-color: #CCCCFF;
    width: 75px;
    height: 20px;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    width: 205px;
}
button{
    width: 90px;
}
button.x{
    padding:0;
    border:none;
    width: 12px;
    height: 12px;
    font-size: 12px;
    text-align: center;
    float: right;
    cursor: pointer;
    background-color:inherit;
}
.dropdown:hover{
    cursor: pointer;
}
.dropdown:hover .content{
    display:block;
}
.pink:hover{
    background-color: white;
}
.peri:hover{
    background-color: white;
}
.lightblue:hover{
    background-color: white;
}
.yellow:hover{
    background-color: white;
}